* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: QatarMedium;
  src: url(../font/GraphikArabicMedium.otf);
}

@font-face {
  font-family: QatarBold;
  src: url(../font/Qatar2022Arabic-Bold.ttf);
}

@font-face {
  font-family: QatarHeavy;
  src: url(../font/Qatar2022Arabic-Heavy.ttf);
}

.main {
  display: flex;
  margin-left: 50px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.table {
  border-spacing: 0;
}

.table {
  background: #fff;
}

.table tr:nth-child(even) {
  background: rgba(1, 1, 1, 0.2);
}

.border1 {
  border-radius: 10px 0 0 0;
}

.border2 {
  border-radius: 0 10px 0 0;
}

.border3 {
  border-radius: 0 0 0 10px;
}

.border4 {
  border-radius: 0 0 10px 0;
}

.title {
  font-family: QatarBold;
  background-color: #9A1032;
  color: white;
  align-items: center;
}

.cell {
  padding: 10px;
  gap: 5px;
  border-bottom: 2px solid #9A1032;
}

.cell img {
  width: 25px;
  height: auto;
}

.time {
  display: flex;
}

.content {
  font-family: QatarMedium;
  text-align: center;
}

.change {
  display: flex;
  flex-direction: column;
  color: #9A1032;
  font-size: 20px;
}

.change span {
  height: 10px;
}

.color {
  background-color: #9A1032;
  color: white;
}

.table .line-table {
  border: 5px solid aqua !important;
}