.table {
  border-spacing: 0;
}

.table tr:nth-child(even) {
  background: rgba(1, 1, 1, 0.2);
}

.border1 {
  border-radius: 10px 0 0 0;
}

.border2 {
  border-radius: 0 10px 0 0;
}

.border3 {
  border-radius: 0 0 0 10px;
}

.border4 {
  border-radius: 0 0 10px 0;
}

.title {
  font-family: QatarBold;
  background-color: #9A1032;
  color: white;
  align-items: center;
}

.cell {
  padding: 10px;
  gap: 5px;
  border-bottom: 2px solid #9A1032;
}

.cell img {
  width: 25px;
  height: auto;
}

.time {
  display: flex;
}

.content {
  font-family: QatarMedium;
  text-align: center;
}

.change {
  display: flex;
  flex-direction: column;
  color: #9A1032;
  font-size: 20px;
}

.change span {
  height: 12px;
}

.color {
  background-color: #9A1032;
  color: white;
}