.table {
  border-spacing: 0;
  border: solid #9A1032;
  border-radius: 10px;
}

.table tr:nth-child(even) {
  background: rgba(1, 1, 1, 0.2);
}

.title {
  font-family: QatarBold;
  background-color: #9A1032;
  color: white;
  align-items: center;
}

.cell {
  padding: 10px;
  gap: 5px;
  border-bottom: 2px solid #9A1032;
}

.cell img {
  width: 25px;
  height: auto;
}

.time {
  display: flex;
}

.content {
  font-family: QatarMedium;
  text-align: center;
}

.change {
  display: flex;
  flex-direction: column;
  color: #9A1032;
  font-size: 20px;
}

.change span {
  height: 12px;
}

.rotate {
  transform: rotateX(180deg);
}

.color {
  background-color: #9A1032;
  color: white;
}

.main {
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.buttons-secondery {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 10px;
}

.button {
  display: flex;
  border: 2px solid #9A1032;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 200px;
  font-family: QatarBold;
  color: #9A1032;
  cursor: pointer;
}

.button:hover,
.active {
  background-color: #9A1032;
  color: white;
}